//隱藏文字
@mixin hide-text {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}

//平版+手機的RWD media query
@mixin pad {
  @media (max-width: 768) {
    @content
  }
}

@mixin mobile {
  @media (max-width: 568px) {
    @content
  }
}
