// 全站設定

//載入google noto font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

body {
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", PingFang, STHeiti, sans-serif, serif;



}
*:focus{
  outline-style: dotted;
  outline-color: red;
  outline-width: 4px;
}

//圖片預設
 img {
  display: block;
  max-width: 100%;
  height: auto;
}
// 預設ul ol樣式沒有點
ul,
ol {
  list-style: none;
  padding-left: 0;
}

//font icon與文字對齊
.material-icons {
  vertical-align: bottom;
}
a{
  cursor: pointer;
}

a,a:hover {
  text-decoration: none;
  cursor: pointer;
}

//去掉bs預設有mb
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,ol,ul, dl {
  margin-bottom: 0;
}
//去掉bs預設
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: normal;
}

/* google font css Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-60 {
  font-size: 60px;
}

.material-icons.md-80 {
  font-size: 80px;
}


/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}


